# VSCode specific stuff
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
debug.log

# Optional npm cache directory
.npm

# Yarn Integrity file
.yarn-integrity
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz

# Build folders
build/
out/
dist/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Coverage directory
coverage/

# Temporary files
.tmp/
tmp/

# IDE specific files
.idea/
*.sublime-*
*.swp
*.swo

# Local History for Visual Studio Code
.history/

# MacOS hidden files
.DS_Store

# Next files
.next/
